@mobile-breakpoint: 1024px;

#leadPageWrapper {
    max-width: 1560px;
    margin: 0 auto;
    background: white;
    min-height: 100vh;

    .presentation-image {
        height: 40vh;
        width: 100%;
        object-fit: cover;
        min-height: 256px;

        @media (min-width: @mobile-breakpoint) {
            height: 50vh;
            min-height: 450px;
        }
    }

    .bottom-section-wrapper {
        margin-top: -68px;
        z-index: 1;
        position: relative;

        .card {
            background: #5c8240;
            color: white;
            width: 90%;
            margin: 0 auto 15px;
            border-radius: 4px;

            &__heading {
                margin: 0;
                background: #324d1f;
                padding: 15px 20px 12px;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
            }

            &__desc {
                padding: 20px 20px 50px;
                line-height: 1.2;
            }

            @media (min-width: @mobile-breakpoint) {
                box-shadow: 0px 2px 5px -2px rgb(0, 0, 0, 75%);
                border-radius: 10px;

                &__heading {
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                }

                &__desc {
                    padding-bottom: 30px;
                    font-size: 20px;
                }
            }
        }

        .lead-form {
            background: #eeeeee;
            padding: 20px 18px;

            &__btn {
                padding: 10px 20px;
                width: 100%;
                border-radius: 16px;
                background: #deb902;
                color: white;
                border: 2px solid #a7a7a7;
                margin: 15px 0;
                cursor: pointer;
            }
        }

        .form-group {
            margin-bottom: 20px;

            label {
                display: block;
                margin-bottom: 5px;
                color: #74747a;
                margin-left: 12px;
            }

            .form-control {
                display: block;
                width: 100%;
                padding: 10px 20px;
                font-size: 16px;
                line-height: 1.5;
                color: #333333;
                background-color: #fff;
                border: 2px solid #ced4da;
                border-radius: 16px;
                height: 40px;
            }
        }

        @media (min-width: @mobile-breakpoint) {
            margin-top: -200px;

            .container {
                display: flex;
                width: 90%;
                margin: 0 auto;
                max-width: 1290px;
                justify-content: space-between;

                .card {
                    width: 40%;
                    margin: 0;
                }

                .lead-form {
                    width: 55%;
                    display: grid;
                    column-gap: 25px;
                    border-radius: 10px;
                    box-shadow: 0px 2px 5px -2px rgb(0, 0, 0, 75%);
                }
            }

            .form-group, .lead-form__btn {
                grid-column: span 2/span 2;
            }

            .lead-form--two-column {
                grid-column: span 1/span 1;
            }
        }
    }
}
